%h1
	About Planet Cloud Foundry

%p
	This blog feed aggregator uses
	%a{:href => "https://github.com/pauldix/feedzirra"} feedzirra
	to load external feeds and then store them in
	%a{:href => "http://redis.io/"} Redis.
	All of that code was blatantly stolen from
	%a{:href => "https://github.com/logankoester/feedzirra-redis"} feedzirra-redis
	but as I had to change some small things I pulled in all code instead of forking

%p
	I know there are much better
	%a{:href => "http://www.feedburner.com"} feed aggregators
	out there,
	but this is supposed to serve as sample code how to use
	%a{:href => "http://www.sinatrarb.com/"} Sinatra
	on
	%a{:href => "http://cloudfoundry.com/"} Cloud Foundry

%p
	If you think that a blog is missing,
	just let
	%a{:href => "mailto:martin@englund.nu"} me
	know and I'll add it.