!!!
%head
	%title Planet Cloud Foundry
	%link(rel="stylesheet" href="/stylesheet.css")

%body
	= yield

	#footer
		Planet Cloud Foundry by
		%a{:href => "http://blog.codenursery.com/"} Martin Englund
		|
		%a{:href => "https://github.com/pmenglund/planet-cf"} Source Code