!!!
%head
	%title Planet Cloud Foundry
	%link(rel="stylesheet" href="/stylesheet.css")

%body
	= yield

	#footer
		%a{:href => "/about"} About
		Planet Cloud Foundry by
		%a{:href => "http://blog.codenursery.com/"} Martin Englund
		%br
		Source code available on 
		%a{:href => "https://github.com/pmenglund/planet-cf"} github